#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.text-box {
  height: 128px;
  width: 90%;
  margin-top: 1em;
  resize: none;
}

.text-box-container {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  max-height: 50px;
  margin: 7vw;
  
}

.logo img{
  max-height: 80%;
  max-width: 50%;
  margin: auto;
  
  
  
}
#latex-container{
  font-size: 40px;
  margin-top: 3vw;
}

#equation-input{
  text-align: left;
  font-size: large;
  margin: auto;
}