
#latex-caret{
  position: absolute;
  background-color: rgb(255, 255, 255);
  /*left: 200px;
  top: 200px;*/
  min-height: 0px;
  min-width: 0px;
  /*animation: cursor-blink 1.5s steps(2) infinite;*/
}

.MathHTMLComponent{
  position: absolute;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}


@media (prefers-color-scheme: light) {
  #latex-caret {
    background-color: black;
  }
}