#root {
  max-width: 1280px;
  margin: auto;
  padding: 0;
  text-align: center;
  min-height: 100%;
}

.download-button {
  margin-top: auto;
  align-self: flex-end;
}
 body{
  /*font-size: large;
	color: #fff;
	background-color: #e3cbb1;
	overflow-x: hidden;*/
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  /*
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  */
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;
  /*padding-top: 100px;
  padding-bottom: 300px;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* maybe ?? */
} 
.cm-editor {
  /*height: 192px;*/
  margin: 0;
  padding: 0;
  margin-top: 1em;
  resize: none;
  border: 2px solid;
  border-color: rgb(60, 60, 60);
}
@media (prefers-color-scheme: light) {
  .cm-editor {
    border-color: #697c89;
  }
}
.text-box-container {
  display: flex;
  flex-direction: column;
}

#logo{
  width: 25%;
}

#latex-container{
  font-size: 40px;
  margin-top: 3vw;
 /* margin-bottom: 5vw;*/ 
 margin-bottom: 15px;
}

#latex-caret{
  position: absolute;
  background-color: rgb(255, 255, 255);
  /*left: 200px;
  top: 200px;*/
  min-height: 0px;
  min-width: 0px;
  /*animation: cursor-blink 1.5s steps(2) infinite;*/
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}



.bi-question-lg {
  animation: moveIcon 2s linear infinite; /* Adjust the timing as you like */
}

@media (prefers-color-scheme: light) {
  #latex-caret {
    background-color: black;
  }
}

#equation-input{
  text-align: left;
  font-size: large;
  margin: 0em;
  margin-top: 1em;
  height: auto;
  padding: 0;
  min-height: 7em;
}

/* Styling for the outer container */
.dropdown-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /*justify-content: flex-start; /* or space-between */
  max-width: 100%;
  border: 2px solid #333; /* Add a 2px solid border with a darker color */
  padding: 10px; /* Add some padding to the container */
}

/* Styling for each dropdown */
.dropdown {
  position: relative;
  /*align-self: stretch;*/
  margin: auto;
}

/* Unique styling for the button in each dropdown, otherwhise it uses "button"*/
.dropbtn {
  font-size: 0.6em;
  width: 11em;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this */
  align-items: center;
}

/* Styling for the dropdown content */
.dropdown-content {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  border: 1px solid #ccc; /* Add a border for better visibility */
  display: none;
  backdrop-filter: blur(10px);
  /*display: grid; /*add when trubbleshooting*/
 
}

/* Styling for each button in the dropdown content */
.dropdown-content button {
  width: 100%; /* Make each button fill the grid cell */
  box-sizing: border-box; /* Include padding and border in the button's total width */
  padding: 5px;
  margin: 0;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.recent-elements {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 columns */
  grid-template-rows: repeat(1, 1fr);    /* 1 rows */
  gap: 5px; /* Adjust the gap as needed */
  border: 2px solid #333; /* Add a 2px solid border with a darker color */
  border-top: none; /* Remove the top border */
  padding: 10px;
  height: 2em;
}

.recent-elements button {
  width: 100%; /* Make buttons fill the grid cells */
  height: 100%; /* Make buttons fill the grid cells */
  /*min-width: 3em;
  max-width: 4em;*/
  font-size: x-small;
}

/* Optional: Style for the scrollbar */
/*
.dropdown-content::-webkit-scrollbar {
  width: 8px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #888;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*/


/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 0;
  left: 0;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}


.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #b9875e;
  cursor: pointer;
  color: #e6ccb2;
  box-shadow: 1px 14px 35px 0 #654e3b;
  
  
}

.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}

.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 100%;
  
  left: 55%;
  width: 20%;
  
  border-radius: 4px;
  display: block;
  box-shadow: 1px 14px 35px 0 #654e3b;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
 
  transform: translateX(-50%);
 
  transition: all 200ms linear;
}
.sec-center .section-dropdown {
  background-color: #b9875e;
  box-shadow: 1px 14px 35px 0 #654e3b;
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #e6ccb2;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}


a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  /*font-family: 'Roboto', sans-serif;*/
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  -ms-flex-pack: distribute;
}

a:hover , a:visited , a:active  {
  color: #e6ccb2;
  background-color: #ddb892;
}

a .uil {
  font-size: 22px;
}

.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}

.dropdown-sub + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #706010;
  background-color: #ffeba7;
}
 .sec-center .section-dropdown .for-dropdown-sub{
  color: #8494c9;
}
.sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #9facd5;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

a:hover {
  color: #909090;
}

.btn-help {
  left: 10px;
  top: 10px;
  width: 60px; height: 60px;
  background:#b9875e; 
  border-radius: 50%; 
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 14px 35px 0 #654e3b;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  position: absolute;
  z-index: 1000;
}

.btn-help:hover {
  background: #ede0d4; 
  border-radius: 15px;
  width: 250px; height: 350px;
}

.btn-help i {
  position: absolute;
}
  
.btn-help:hover i{
    opacity: 0;
} 
.btn-help i{
  font-size: 30px;
  color: #000; 
}
.text-section {
  padding: 20px;
  opacity: 0;
  position: relative;
}
.btn-help:hover .text-section{
  animation: forwards fadeIn 0.7s 0.5s ease-in-out ;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



/* footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}